.container {
    display: inline-flex;
    padding: 2.625rem 1.375rem;
    flex-direction: column;
    align-items: center;
    gap: 1.375rem;

    border-radius: 0.25rem;
    background-color:  #212529;
    box-shadow: 0rem 0.25rem 2.5rem -0.625rem rgba(0, 0, 0, 0.25);
    
    color:#868E96;
    
    font-family: 'Inter',sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
}

.textAccount {
    display: flex;
    padding-top: 0.75rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.625rem;
}

.btnLogin {
    display: flex;
    width: 329.929px;
    height: 3rem;
    padding: 0rem 1.0152rem;
    justify-content: center;
    align-items: center;
    gap: 0.5089rem;
    flex-shrink: 0;

    border-radius: 0.2006rem;
    border: 0.0611rem solid  #FF577F;
    background: #FF577F;
    color: #FFF;

    font-family: 'Inter', sans-serif;
    font-size: 0.8022rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3233rem; 

    transition: 0.4s;
}

.headline{
    color:#868E96;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
}

.btnRegister {
    display: flex;
    width: 20.6206rem;
    height: 3rem;
    padding: 0rem 1.0152rem;
    justify-content: center;
    align-items: center;
    gap: 0.5089rem;
    flex-shrink: 0;

    border-radius: 0.2006rem;
    border: 0.0611rem solid #868E96;
    background: #868E96;

    color:#F8F9FA;
    font-family: 'Inter', sans-serif;
    font-size: 0.8022rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3233rem; 

    transition: 0.4s;
}

.errorMessage {
    color: red;
    margin: 0 auto;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5228rem;
}
