.btnLogin {
    display: flex;
    width: 20.6206rem;
    height: 3rem;
    padding: 0rem 1.0152rem;
    justify-content: center;
    align-items: center;
    gap: 0.5089rem;
    flex-shrink: 0;

    border-radius: 0.2006rem;
    border: 0.0611rem solid  #FF577F;
    background: #FF577F;

    color: #FFF;

    font-family: 'Inter', sans-serif;
    font-size: 0.8022rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3233rem; 

    transition: 0.4s;
}

.btnRegister {
    display: flex;
    width: 20.6206rem;
    height: 3rem;
    padding: 0rem 1.0152rem;
    justify-content: center;
    align-items: center;
    gap: 0.5089rem;
    flex-shrink: 0;

    border-radius: 0.2006rem;
    border: 0.0611rem solid #868E96;
    background: #868E96;

    color:#F8F9FA;
    font-family: 'Inter', sans-serif;
    font-size: 0.8022rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.3233rem; 

    transition: 0.4s;
}