:root{
    --font-primary: 'Inter', sans-serif;
    --color-black1: #121214;
    --color-black2: #212529;
    --color-grey0: #F8F9FA;
    --color-grey1: #868E96;
    --color-grey2: #343B41;
    --color-grey3: #212529;
    --color-primary-Disable: #59323F;
    --color-pink: #FF427F;
    --color-disable: #59323F;
}

input {
    display: flex;
    width: 329.929px;
    height: 48px;
    padding: 0px 16.243px;

    border-radius: 4px;
    border: 1.218px solid var(--grey-0, #F8F9FA);
    background: var(--grey-2, #343B41); 
}