:root{
    --font-primary: 'Inter', sans-serif;
    --color-black1: #121214;
    --color-black2: #212529;
    --color-grey0: #F8F9FA;
    --color-grey1: #868E96;
    --color-grey2: #343B41;
    --color-grey3: #212529;
    --color-primary-Disable: #59323F;
    --color-pink: #FF427F;
    --color-disable: #59323F;
}

input {
    display: flex;
    width: 20.6206rem;
    height: 3rem;
    padding: 0rem 1.0152rem;

    border-radius: 0.25rem;
    border: 0.0761rem solid #F8F9FA;
    background:#343B41; 
}