.label {
    margin-bottom: 2.1875rem;
    font-family: 'Inter', sans-serif;
    font-size: 0.7614rem;
    font-style: normal;
    font-weight: 400;
    line-height: 0rem; /* 0% */
    color: #F8F9FA;
}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 700;
    line-height: 1.75rem;
    color: var(--color-grey0);

    &.center {
        text-align: center;
    }
}

.paragraph {
    display: flex;
    align-items: center;
    width: 8.5231rem;
    height: 0.9024rem;
    flex-shrink: 0;

    color: #868E96;
    font-family: 'Inter', sans-serif;
    font-size: 0.6016rem;
    font-style: normal;
    font-weight: 600;
    line-height: 0.9024rem;
}

.headline{
    color:#868E96;
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem;
    font-style: normal;
    font-weight: 600;
    line-height: 1.125rem;
}



