.label {
    margin-bottom: 25px;
    font-family: 'Inter', sans-serif;
    font-size: 12.182px;
    font-style: normal;
    font-weight: 400;
    line-height: 0px; /* 0% */
    color: #F8F9FA;
    // gap: 20px;

}

.title {
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 28px;/* 155.556% */
    color: var(--color-grey0);

    &.center {
        text-align: center;
    }
}

.paragraph {
    display: flex;
    align-items: center;
    width: 136.369px;
    height: 14.439px;
    flex-shrink: 0;

    color: var(--grey-1, #868E96);
    font-family: 'Inter', sans-serif;
    font-size: 9.626px;
    font-style: normal;
    font-weight: 600;
    line-height: 14.439px; /* 150% */

    // color: #FFF;
    // font-family: 'Inter', sans-serif;
    // font-size: 16px;
    // font-style: normal;
    // font-weight: 400;
    // line-height: 24.364px; /* 152.275% */
}

.headline{
    color:#868E96;
    
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
}

p {
    color: #F8F9FA;

    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.364px; /* 152.275% */
}