.containerBox{
    width: 100%;
    padding: 77.329px 0px 10px 0px;
    
    display: inline-flex;
    justify-content: center;
    position: relative;
    gap: 148px;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: #121214;

    color: #F8F9FA;
    text-align: center;
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 28.425px; /* 236.872% */
}

.pageBox {
    display: flex;
    // display: inline-flex;
    justify-content: center;
    position: relative;
    gap: 148px;
    align-content: flex-start;
    align-items: center;
    flex-direction: row;
    background: #121214;
}

.linkBack {
    display: inline-flex;
    height: 32px;
    padding: 0px 16.243px;
    justify-content: center;
    align-items: center;
    gap: 10.152px;
    flex-shrink: 0;
    border-radius: 4px;
    color: aliceblue;
    background: #212529;
    position: relative;
}

.headline {
    display: flex;
    justify-content: center;
    color:#868E96;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 18px; /* 150% */
}
