.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 100vh;
    background-color: #000000;

    .title {
        display: flex;
        align-items: column ;
        justify-content: center;
        color: #fefefe;
    }

    .nameUser{
        display: flex;
        align-items: column ;
        justify-content: center;
        color: #FF577F;
    }
}
