.module {
    display: flex;
    height: 105.577px;
    padding: 8.121px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 22.334px;

    color: var(--grey-50, #868E96);
    font-family: Inter;
    font-size: 16.243px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.394px; /* 162.5% */
}