.module {
    display: flex;
    height: 6.5986rem;
    padding: 0.5076rem 0rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 0.625rem;

    color: #868E96;
    font-family: Inter;
    font-size: 1.0152rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6496rem;
}

.path {
    display: flex;
}

.btnRegister {
    display: flex;
    width: 20.6206rem;
    height: 3rem;
    padding: 0rem 1.0152rem;
    justify-content: center;
    align-items: center;
    gap: 0.5089rem;
    flex-shrink: 0;

    border-radius: 0.1999rem;
    border: 0.0609rem solid #59323F;
    background: #59323F;
}

