.inputBox {
    margin-bottom: 22.33px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #F8F9FA;
    font-family: 'Inter', sans-serif;
    font-size: 16.243px;
    font-style: normal;
    font-weight: 400;
    line-height: 26.394px; /* 162.5% */
}

.labelAbove{
    margin-bottom: 10px;
}

.mandatory{
    color: red;
    margin: 0 auto;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24.364px; /* 152.275% */
}