.inputBox {
    margin-bottom: 1.3956rem;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    color: #F8F9FA;
    font-family: 'Inter', sans-serif;
    font-size: 1.0152rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.6496rem; 
}

.labelAbove{
    margin-bottom: 0.625rem;
}

.mandatory{
    color: red;
    margin: 0 auto;
    font-family: Inter;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5228rem;
}