.rights {
    background-color: #121214;
    color: #868E96;

    display: flex;
    padding-top: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}